
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart-table-file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    

</head>
<body class="category-table">

    <!-- ===================================== -->
    <%- include('./header.ejs')%>
    <!-- ===================================== -->

    <!-- ===================================== -->
    <%- include('./left.ejs')%>
    <!-- ===================================== -->
    <div class="col-md-9">

        <table id="cartTable">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>301</td>
                    <td>Item A</td>
                    <td>2</td>
                    <td>$100.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>302</td>
                    <td>Item B</td>
                    <td>1</td>
                    <td>$50.00</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>



<!-- ===================================== -->
<%- include('./footer.ejs')%>
<!-- ===================================== -->

</body>
</html>