


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-product-file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    

</head>
<body class="category-body">

    <!-- ===================================== -->
    <%- include('./header.ejs')%>
    <!-- ===================================== -->

    <!-- ===================================== -->
    <%- include('./left.ejs')%>
    <!-- ===================================== -->

    <div class="col-md-9">
    <table id="categoryTable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>101</td>
                <td>Category 1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>102</td>
                <td>Category 2</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
    </div>
</div>
    
        <!-- ===================================== -->
        <%- include('./footer.ejs')%>
        <!-- ===================================== -->
        
    </body>
    </html>