

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit-login-file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    


<style>
    
/* ================================================================================================ */
                                        /* login form */
/* ================================================================================================ */


.login-form-container {
    background-color: #f0f0f0; /* Background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .login-form form {
    background-color: #fff; /* Form color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }

  .login-form h1 {
    text-align: center;
  }

  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .login-form a {
    text-align: right;
    display: block;
    margin-top: 10px;
    color: #007bff; /* Link color */
    text-decoration: none;
  }

/* ================================================================================================ */
                                        /* login form */
/* ================================================================================================ */
</style> 

</head>
 <body>
 
     <!-- ===================================== -->
     <%- include('./header.ejs')%>
     <!-- ===================================== -->
 
     <!-- ===================================== -->
     <%- include('./left.ejs')%>
     <!-- ===================================== -->
     <div class="col-md-9 form-container-body">
  
    <div class="login-form mt-5 mx-auto">
        <form action="/loginform" method="post">
          <h1>Login Form</h1>
          <input type="email" name="email" placeholder="Email" value="<%= editlogin.email %>" required>
          <input type="password" name="password" placeholder="Password" value="<%= editlogin.password %>" required>
          <button type="submit">Login</button>
          </div>
        </form>
      
      </div>
    </div>
</body>
</html>

