
   <!-- =================BOOTSTRAP-FILE============ -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <!-- =================BOOTSTRAP-FILE============ -->
    
   <!-- ===============CUSTOM CSS FILE============= -->
    <link rel="stylesheet" href="../css/dashboard-style.css" type="text/css">
   <!-- ===============CUSTOM CSS FILE============= -->


    <!-- ==================GOOGLE FONTS ================ -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant&family=
        Fuggles&family=Mooli&family=Noto+Serif&display=swap" rel="stylesheet">

            <!--             
            /* 
            font-family: 'Assistant', sans-serif;
            font-family: 'Fuggles', cursive;
            font-family: 'Mooli', sans-serif;
            font-family: 'Noto Serif', serif;
             */ 
            -->

    <!-- ==================GOOGLE FONTS ================ -->

        <!-- font awesome linking -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
        <!-- font awesome linking -->




    <!-- ===================================================================================== 0-->
                                     <!-- navigation bar -->
    <!-- ===================================================================================== 0-->


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/dashboardindex">SJ's</a>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-danger text-primary bg-white" href="<%= '/logout' %>">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
    <!-- ===================================================================================== 0-->
                                     <!-- navigation bar -->
    <!-- ===================================================================================== 0-->

