
<!-- ======================================================================================= -->
                                        <!-- left side column -->
<!-- ======================================================================================= -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 left-column text-center">

    <!-- Column 1 -->
      <a href="/add-product" class="">Add Product</a>
      <hr>
    <!-- Column 2 -->
      <a href="/view-product" class="">View Product</a>
      <hr>
    <!-- Column 3 -->
      <a href="/view-registration" class="">View Registration</a>
      <hr>
    <!-- Column 4 -->
      <a href="/view-contact" class="">View Contact</a>
      <hr>
      
       <!-- Column 5 -->
       <a href="/login-table" class="">Login table</a>
       <hr>


        <!-- Column 6 -->
      <a href="/add-staff" class="">staff registration</a>
      <hr>

      
        <!-- Column 7 -->
        <a href="/category" class="">Category-Table</a>
        <hr>
        <!-- Column 8 -->
        <a href="/brand-table" class="">Brand-Table</a>
        <hr>
        <!-- Column 9 -->
        <a href="/cart-table" class="">Cart-Table</a>
        <hr>
        <!-- Column 10 -->
        <a href="/item-table" class="">Item-Table</a>
        <hr>
        <!-- Column 11 -->
        <a href="/staff-table" class="">Staff-Table</a>
        <hr>
        <!-- Column 11 -->
        <a href="/brands-form" class="">brands-form</a>
        <hr>
      


    
  </div>
 
  
<!-- ======================================================================================= -->
                                        <!-- left side column -->
<!-- ======================================================================================= -->

