<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- =================TITLE============= -->
 <title>About us</title>
 <!-- =================TITLE============= -->
</head>
<body>
  <!-- ==================header file================= -->
        <%- include('./common/header.ejs')%>
  <!-- ==================header file================= -->

  <!-- =============================================================================== -->
                                    <!-- about us text -->
  <!-- =============================================================================== -->


  <div class="container mt-5">
      <!-- Centered Container -->
      <div class="row about-section">
        <div class="col-12">
          <h2 class="mt-5 text-center">About Us</h2>
          <p class="text-center">
            Welcome to SJ's Furniture, a name synonymous with quality and elegance. Established in 2002, we take pride in offering a wide range of meticulously crafted furniture pieces that bring comfort and style to your home. Our commitment to excellence has made us a trusted choice for discerning customers. Experience the art of furniture with SJ's.
          </p>

        </div>
      </div>


  <!-- =============================================================================== -->
                                    <!-- about us text -->
  <!-- =============================================================================== -->


  <!-- =============================================================================== -->
                                    <!-- about us containers -->
  <!-- =============================================================================== -->

      <div class="row about-section mt-5">
        <div class="col-md-4 transform-container">
          <div class="about-image-container" style="background-image: url('./furntiurepics/aboutus-image1.jpg');">
          </div>
          <h3 class="custom-call">starting from $29</h3>
        </div>
        <div class="col-md-4 transform-container">
          <div class="about-image-container" style="background-image: url('./furntiurepics/aboutus-image2.jpg');">
          </div>
            <h3 class="custom-call">starting from $29</h3>

        </div>
        <div class="col-md-4 transform-container">
          <div class="about-image-container" style="background-image: url('./furntiurepics/aboutus-image3.jpg');">
          </div>
            <h3 class="custom-call">starting from $29</h3>

        </div>
      </div>
    </div>


   <!-- =============================================================================== -->
                                    <!-- about us containers -->
   <!-- =============================================================================== -->


   <!-- =============================================================================== -->
                                    <!-- aim-aboutus containers -->
   <!-- =============================================================================== -->
   <div class="aim-aboutus">

<div class="row">
    <div class="col-md-4 mt-2 ">
    <div class="aim-container mx-3">
      <h3>Our Vision</h3>
      <p>Our vision at SJ's Furniture Wholesale Company is to redefine the furniture industry by providing innovative and high-quality products that inspire and enhance the aesthetics of every space.</p>
    </div>
  </div>

  <div class="col-md-4 mt-2">
    <div class="aim-container mx-3">
      <h3>Our Mission</h3>
      <p>With a commitment to excellence, our mission is to deliver unparalleled value to our clients by offering a wide range of furniture solutions, maintaining integrity in our business practices, and fostering lasting relationships.</p>
    </div>
  </div>

    <div class="col-md-4 mt-2">
    <div class="aim-container mx-3">
      <h3>Our Goal</h3>
      <p>Striving for continuous growth and customer satisfaction, our goal is to become a leading player in the wholesale furniture market, setting new standards for quality, service, and reliability.</p>
    </div>
  </div>
   </div>

</div>
   <!-- =============================================================================== -->
                                    <!-- aim-aboutus containers -->
   <!-- =============================================================================== -->


     <!-- =============================================================================== -->
                                    <!-- team-mates containers -->
   <!-- =============================================================================== -->

   <div class="container mt-5">
    <!-- Centered Container -->
    <div class="row ">
      <div class="col-md-12">
        <h2 class="mt-5 text-center">Our Team</h2>
        <p class="text-center">
        The Cream Of The Market
        </p>

      </div>
    </div>


  <div class="team-members ">

    <div class="row">
    <div class="col-md-4">
    <div class="team-member mx-5 mt-3" style="width: 350px; height: 350px;">
      <img src="./furntiurepics/sumit.jpg" alt="Sumit">
      <p>Sumit</p>
      <p>Manager</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="team-member mx-5 mt-3" style="width: 350px; height: 350px;">
      <img src="./furntiurepics/vibhanshu.jpg" alt="Vibhanshu">
      <p>Vibhanshu</p>
      <p>Web Developer</p>
    </div>
  </div>

    <div class="col-md-4">
    <div class="team-member mx-5 mt-3" style="width: 350px; height: 350px;">
      <img src="./furntiurepics/shivam.jpg" alt="Shivam">
      <p>Shivam</p>
      <p>Chairperson</p>
    </div>
  </div>
    </div>


   </div>

  </div>

     <!-- =============================================================================== -->
                                    <!-- team-mates containers -->
   <!-- =============================================================================== -->


     <!-- =============================================================================== -->
                                    <!--company-carousel  -->
   <!-- =============================================================================== -->
  

   <div class="row ">
    <div class="col-md-12">
      <h2 class="mt-5 text-center">Our Clients</h2>
      <p class="text-center">
      The Cream Of The Market
      </p>

    </div>
  </div>

   <div class="container mt-5">
    <div class="row mt-2">
      <!-- First Row with four cards -->
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo9.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo10.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo3.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo4.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Second Row with four cards -->
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo5.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo6.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo7.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
      <div class="col-md-3">
        <div class="companies-linked border">
          <img src="./furntiurepics/sample-logo8.jpeg" class="card-img-top" alt="Card Image">
        </div>
      </div>
    </div>
  </div>


     <!-- =============================================================================== -->
                                    <!--company-carousel  -->
   <!-- =============================================================================== -->



    
<div class="container-fluid">
      <!-- ===================footer================== -->
      <%- include('./common/footer.ejs')%>
      <!-- ===================footer================== -->
      </div>
      
    
      </body>
      </html>