<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- =================TITLE============= -->
 <title>Furniture Store</title>
 <!-- =================TITLE============= -->
</head>
<body>
  <!-- ==================header file================= -->
        <%- include('./common/header.ejs')%>
  <!-- ==================header file================= -->

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center mt-3">
<h1>Find Us On Google Maps</h1>
        </div>
    </div>
  </div>

  <!-- ==================================================================================== -->
                                            <!--IFRAME -->
   <!--====================================================================================  -->

<div class="container">
    <div class="row">
        <div class="col-md-12">


  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14010.169108094642!2d76.97818170793465!3d28.613505337321328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0fdd4d3a47b7%3A0x18badb84af26cf91!2sNajafgarh!5e0!3m2!1sen!2sin!4v1702778701690!5m2!1sen!2sin"  style="border:0;" class="iframe-maps w-100" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
</div>
</div>
   


  <!-- ==================================================================================== -->
                                            <!--IFRAME -->
   <!--====================================================================================  -->


  <!-- ==================================================================================== -->
                                            <!--GET-IN-TOUCH -->
   <!--====================================================================================  -->



<div class="container get-in-touch mt-5">
    <div class="row">
      <div class="col-md-4 custom-container">
        <h2>Get in Touch</h2>
        <h6>Order Phone: +1234567890</h6>
        <h6>Service Phone: +9876543210</h6>
        <br>
        <h6>Landline 1: +1122334455</h6>
        <h6>Landline 2: +9988776655</h6>
        <br>
        <h6><i class="fas fa-envelope"></i> Email: info@example.com</h6>
        <div class="row follow-us">
            <div class="col-md-12 mt-3">
              <h2>Follow Us</h2>
              <i class="fab fa-facebook social-icons "  style="color: #616161;"></i>
              <i class="fab fa-twitter social-icons"  style="color: #616161;"></i>
              <i class="fab fa-instagram social-icons"  style="color: #616161;"></i>
            </div>
    </div>
</div>
        

  
      <div class="col-md-8 custom-container">
        <h2 >Get in Touch</h2>
        <form class="contact-form" method="post" action="/contactus">
          <div class="form-group">
            <label for="name"><i class="fas fa-user"></i> Your Name</label>
            <input type="text" id="name" name="name" required>
          
            <label for="email"><i class="fas fa-envelope"></i> Your Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="subject"><i class="fas fa-comment"></i> Subject</label>
            <input type="text" id="subject" name="subject" required>
          </div>
          <div class="form-group">
            <label for="message"><i class="fas fa-comment"></i> Your Message</label>
            <textarea id="message" name="message" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>
</div>
  

  
  <!-- ==================================================================================== -->
                                            <!--GET-IN-TOUCH -->
   <!--====================================================================================  -->


  


<div class="container-fluid">
    <!-- ===================footer================== -->
    <%- include('./common/footer.ejs')%>
    <!-- ===================footer================== -->
    </div>
    