
 
   <!-- =================BOOTSTRAP-FILE============ -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <!-- =================BOOTSTRAP-FILE============ -->
    
   <!-- ===============CUSTOM CSS FILE============= -->
    <link rel="stylesheet" href="../css/furniture-store.css" type="text/css">
   <!-- ===============CUSTOM CSS FILE============= -->

   

    <!-- ==================GOOGLE FONTS ================ -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant&family=
        Fuggles&family=Mooli&family=Noto+Serif&display=swap" rel="stylesheet">

            <!--             
            /* 
            font-family: 'Assistant', sans-serif;
            font-family: 'Fuggles', cursive;
            font-family: 'Mooli', sans-serif;
            font-family: 'Noto Serif', serif;
             */ 
            -->

    <!-- ==================GOOGLE FONTS ================ -->

        <!-- font awesome linking -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
        <!-- font awesome linking -->


</head>

    <!-- ===================================================================================== 0-->
                                     <!-- navigation bar -->
    <!-- ===================================================================================== 0-->


    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/">SJ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About SJ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/furniture-types">Furniture Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/collections">Collections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/userprofile"><i class="fa-solid fa-user" style="color: rgb(43, 183, 248);"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login-form">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration-form">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
    

    <!-- ===================================================================================== 0-->
                                     <!-- navigation bar -->
    <!-- ===================================================================================== 0-->

